*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Arial, sans-serif;
  background-color: #ebf0f5;
  margin: 0;
  line-height: 1.4em;
}

.container {
  max-width: 70ch;
  margin: auto;
  padding: 0 0.5em;
}

h1 {
  color: #000066;
  font-size: 200%;
}

b {
  color: #142233;
}

a:link {
  color: #003366;
}

a:visited {
  color: #003040;
}

.navbar {
  background-color: #343a40;
}

ul.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#hamburger-cb {
  display: none;
}

#hamburger-cb:checked ~ .navbar-nav {
  display: block;
}

.hamburger-button {
  display: none;
  width: 50px;
  padding: 10px;
}

.hamburger-button > span {
  display: block;
  height: 4px;
  background-color: white;
  margin: 0 0 5px 0;
  border-radius: 2px;
}

.hamburger-button > span:last-of-type {
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .navbar-nav {
    flex-direction: column;
  }

  .nav-item {
    width: 100%;
  }

  .nav-link {
    display: block;
    width: 100%;
  }

  ul.navbar-nav {
    display: none;
  } 

  .hamburger-button {
    display: block;
  }  
}

@media print {
  .navbar {
    display: none;
  }
  body {
    background-color: white;
  }
}

li.nav-item {
  float: left;
}

a.nav-link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a.nav-link:hover {
  background-color: #3e5780;
  transition: background-color 0.2s ease-in-out;
}

li.active {
  background-color: #3e5780;
}

.release {
  padding: 0.1em 0.5em 0.5em;
  margin-top: 0.8em;
  background: #f2f7fc;
  box-shadow: 0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.35);
  border-radius: 0.5em;
}

.card {
  padding: 0.1em 0.5em 0.5em;
  margin-top: 0.8em;
  background: #f2f7fc;
  box-shadow: 0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.35);
  border-radius: 0.5em;
}

.thumbs-container {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
  justify-content: start;
}

.thumb {
  max-width: 15%;
  transition: transform 0.3s ease;
  transform: translateY(0rem);
}

.thumb:hover {
  transform: translateY(-1rem);
}

kbd {
	margin: 0 0.1em;
	padding: 0.1em 0.6em;
	border-radius: 0.3em;
	border: 1px solid rgb(204, 204, 204);
	line-height: 1.4;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 0.7em;
	display: inline-block;
  text-shadow: 0 1px 0 #fff;
	box-shadow: 0px 1px 0px rgba(0,0,0,0.4), inset 0 0 0 0.1em #ffffff;
  white-space: nowrap;
	background-color: rgb(247, 247, 247);
}

.screenshot {
  float: right;
  margin-left: 1em;
  margin-bottom: 0.5em;
}
