*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-color: #ebf0f5;
  --text-color: black;
  --heading-color: #000066;
  --bold-text-color: #142233;
  --card-bg-color: #f2f7fc;
  --card-shadow: 0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.35);
  --link-color: #003366;
  --link-visited-color: #003040;
  --toc-bg-color: #e2e8f0;
  --toc-border-color: #64748b;
  --kbd-bg-color: rgb(247, 247, 247);
  --kbd-border-color: rgb(204, 204, 204);
  --kbd-text-color: #333;
  --kbd-shadow: 0px 1px 0px rgba(0,0,0,0.4), inset 0 0 0 0.1em #ffffff;  
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #22272e;
    --text-color: #cdd9e5;
    --heading-color: #f0f6fc;
    --bold-text-color: #ebf0f5;
    --card-bg-color: #2c2c2c;
    --card-shadow: 0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.5);
    --link-color: #58a6ff;
    --link-visited-color: #8f72cf;
    --toc-bg-color: #2d333b;
    --toc-border-color: #545d68;
    --kbd-bg-color: #3e444d;
    --kbd-border-color: #6a737d;
    --kbd-text-color: var(--text-color); 
    --kbd-shadow: 0px 1px 0px rgba(0,0,0,0.6), inset 0 0 0 0.1em #5a6068;
  }
  
  .icon-svg {
    filter: invert(1);
  }  
}

html {
  color-scheme: light dark;
}

body {
  font-family: Verdana, Geneva, Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  line-height: 1.4em;
}

.container {
  max-width: 70ch;
  margin: auto;
  padding: 0 0.5em;
}

h1 {
  color: var(--heading-color);
  font-size: 200%;
}

b {
  color: var(--bold-text-color);
}

a:link {
  color: var(--link-color);
}

a:visited {
  color: var(--link-visited-color);
}

.navbar {
  background-color: #343a40;
}

ul.navbar-nav {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#hamburger-cb {
  display: none;
}

#hamburger-cb:checked ~ .navbar-nav {
  display: block;
}

.hamburger-button {
  display: none;
  width: 50px;
  padding: 10px;
}

.hamburger-button > span {
  display: block;
  height: 4px;
  background-color: white;
  margin: 0 0 5px 0;
  border-radius: 2px;
}

.hamburger-button > span:last-of-type {
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .navbar-nav {
    flex-direction: column;
  }

  .nav-item {
    width: 100%;
  }

  .nav-link {
    display: block;
    width: 100%;
  }

  ul.navbar-nav {
    display: none;
  } 

  .hamburger-button {
    display: block;
  }  
}

@media print {
  .navbar {
    display: none;
  }
  body {
    background-color: white;
  }
}

a.nav-link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a.nav-link:hover {
  background-color: #3e5780;
  transition: background-color 0.2s ease-in-out;
}

li.active {
  background-color: #3e5780;
}

.card {
  padding: 0.1em 0.5em 0.5em;
  margin-top: 0.8em;
  background: var(--card-bg-color);
  box-shadow: var(--card-shadow);
  border-radius: 0.5em;
}

.thumbs-container {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
  justify-content: start;
}

.thumb {
  max-width: 15%;
  transition: transform 0.3s ease;
  transform: translateY(0rem);
}

.thumb:hover {
  transform: translateY(-1rem);
}

kbd {
  color: var(--kbd-text-color);
  margin: 0 0.1em;
  padding: 0.1em 0.6em;
  border-radius: 0.3em;
  border: 1px solid var(--kbd-border-color);
  line-height: 1.4;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 0.7em;
  display: inline-block;
  text-shadow: none;
  box-shadow: var(--kbd-shadow);
  white-space: nowrap;
  background-color: var(--kbd-bg-color);
}

.screenshot {
  float: right;
  margin-left: 1em;
  margin-bottom: 0.5em;
}

.toc {
  padding: 0.5rem 2.0rem 0.5rem 0.1rem;
  background-color: var(--toc-bg-color);
  display: table;
  border: 1px solid var(--toc-border-color);
}

.toctitle {
  text-align: center;
  font-weight: bold;
}
