name: Java CI 

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 15
      uses: actions/setup-java@v1
      with:
        java-version: 15
    - name: Build with Maven
      uses: GabrielBB/xvfb-action@v1
      with:
        run: mvn -B package --file pom.xml
